<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>hello phaser!</title>
        <script src="//cdn.jsdelivr.net/phaser/2.2.2/phaser.min.js"></script>
    </head>
    <body>

    <div id="game"></div>

    <script src="/javascript/jumper.js"></script>

    </body>
</html>
